body{
	width: 100%;
	height: 100%;
}


.register_form, .login_form{
	position: absolute;

	width: 100%;
 	height: 100%;

 	top: 0;
 	left: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.register_form_form, .login_form_form{
	background: #123;
	padding: 50px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	border-radius: 10px 50px 10px 50px;

}

.register_field{
	display: flex;
	flex-direction: row;
	margin: 3px;
}

.register_field_label{
	width: 150px;

	font-size: 24px;

	/*background: #123;*/
	color: white;

	padding: 5px;
	border-radius: 5px;
}

.register_field_form input, .register_field_form select{
	width: 200px;
	font-size: 24px;

	margin: 3px;
	border-radius: 5px;

}

#register_button{
	border-top: none;
	border-left: none;

	background-color: lime;
	margin-top: 20px;

	padding: 10px;
	border-radius: 5px;
}

#register_button:active{
	border: none;
}

.register_link{
	margin-top: 10px;
	color: lightblue;
}

.error_message{
	margin-top: 20px;
	width: 100%;
	background-color: yellow;
	color: red;

	padding: 10px;
	border-radius: 10px;
}